HELP.md
target/
!.mvn/**
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

###需要过滤的文件夹或者文件###
.idea　　　　
.mvn　　　　
.iml
mvnw
mvnw.cmd
logs/

/node_modules/
/build/
复制
